@use './_textpresets'
  
.generic-window
  margin: 100px auto
  padding: 50px
  width: 500px
  border-radius: 15px
  display: flex
  flex-direction: column
  justify-content: space-between
  &__input-container
    display: flex
    flex-direction: column
    justify-content: space-between
  &__label
    margin-bottom: 20px
  &__login
    margin: 10px 0
    max-height: 24px
    padding: 5px 5px
    border: 1px solid black
    border-radius: 7px
    resize: none
  &__input-area
    margin: 10px 0
    max-height: 24px
    padding: 5px 5px
    border: 1px solid black
    border-radius: 7px
    resize: none

.input-bar-text
  @extend %maintypo
  @extend %h2semibold